<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="imagex/png" href="static\img\fon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/lgpd.css') }}">
    <title>EzyBooker - LGPD</title>

</head>

<body>
    <main>
        <nav>
            <div>
                <img src="static\img\fon.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a target="_self" href="/">Página inicial</a></li>
                    <li><a target="_self" href="agendar">Agendamentos</a></li>
                    <li><a target="_self" href="chatbot">Chatbot</a></li>
                    <li><a target="_self" href="informacao">Área do paciente</a></li>
                    <li><a target="_self" href="login">Login</a></li>
                    <li><a target="_self" href="register">Registro</a></li>
                </ul>
            </div>
        </nav>

        <section class="banner">
            <h3>Lei Geral de Proteção de Dados - LGPD</h3>
        </section>

        <div class="container">
            <div class="box">
                <section class="content">
                    <p>A EzyBooker zela pela privacidade e segurança dos dados dos seus usuários, aderindo rigorosamente
                        às diretrizes estabelecidas pela Lei Geral de Proteção de Dados (LGPD). Comprometemo-nos a
                        processar as informações de forma transparente e responsável, assegurando o respeito aos
                        direitos individuais e a confidencialidade dos dados pessoais. A conformidade com a LGPD é uma
                        prioridade essencial para a EzyBooker, refletindo nosso compromisso com a proteção e integridade
                        das informações confiadas a nós.
                    </p>
                </section>
            </div>
            <img src="static\img\qmentum-diamante.webp" alt="">
        </div>



        <footer>
            <div class="conteudo-footer">
                <div>
                    <img src="static\img\fon.png" alt="">
                </div>

                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>

                <ul class="footer-list">
                    <li>
                        <h3>Sobre a empresa</h3>
                    </li>
                    <li>
                        <a target="_self" href="sobre" class="footer-link">Quem somos nós</a>
                    </li>
                    <li>
                        <a target="_self" href="lgpd" class="footer-link">LGPD</a>
                    </li>
                    <li>
                        <a target="_self" href="profissionais" class="footer-link">Profissionais</a>
                    </li>
                </ul>

                <ul class="footer-list">
                    <li>
                        <h3>Área do paciente</h3>
                    </li>
                    <li>
                        <a target="_self" href="login" class="footer-link">Login</a>
                    </li>
                    <li>
                        <a target="_self" href="register" class="footer-link">Cadastro</a>
                    </li>
                    <li>
                        <a target="_self" href="planos" class="footer-link">Planos e convênios</a>
                    </li>
                </ul>
            </div>

            <div class="credits">
                <p>&#169 2023 All rights reserved</p>
            </div>
        </footer>
    </main>
</body>

</html>