<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="imagex/png" href="static\img\fon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/pro.css') }}">
    <title>EzyBooker - Profissionais</title>
</head>

<body>
    <main>
        <nav>
            <div>
                <img src="static\img\fon.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a target="_self" href="/">Página inicial</a></li>
                    <li><a target="_self" href="agendar">Agendamentos</a></li>
                    <li><a target="_self" href="chatbot">Chatbot</a></li>
                    <li><a target="_self" href="informacao">Área do paciente</a></li>
                    <li><a target="_self" href="login">Login</a></li>
                    <li><a target="_self" href="register">Registro</a></li>
                </ul>
            </div>
        </nav>

        <section class="banner">
            <h3>Nossos profissionais</h3>
        </section>

        <section class="content">
            <section class="content">
                <div class="produtos-section">
                    <div class="produto-box">
                        <img class='produto-img' src="static/img/enf.jpeg" alt="Produto 1">
                        <h3>Enf. Maria Clara</h3>
                        <p>Maria Clara, enfermeira incansável, tece cuidado com sorrisos e atenção singular. Sua
                            dedicação transcende protocolos, trazendo alívio e confiança a quem atravessa momentos
                            delicados. Uma guardiã da saúde, cujo calor humano ilumina caminhos de recuperação.</p>
                    </div>
                    <div class="produto-box">
                        <img class='produto-img' src="static/img/dra.jpg" alt="Produto 1">
                        <h3>Dra. Angelita Pedrini</h3>
                        <p>Dra. Angelita Pedrini, médica dedicada e compassiva, impacta vidas com expertise e
                            humanidade. Seu compromisso com o bem-estar transcende diagnósticos, refletindo-se na
                            empatia que oferece a cada paciente. Um farol de cuidado na área da saúde.</p>
                    </div>
                    <div class="produto-box">
                        <img class='produto-img' src="static\img\secret.jpg" alt="Produto 1">
                        <h3>Secretária Renata</h3>
                        <p>Renata, secretária eficiente e acolhedora, é a voz amigável por trás da organização. Sua
                            destreza na gestão cotidiana e sorriso constante tornam cada interação suave. Uma presença
                            indispensável, tornando o ambiente mais acolhedor e eficaz.</p>
                    </div>
                </div>
            </section>

            <footer>
                <div class="conteudo-footer">
                    <div>
                        <img src="static\img\fon.png" alt="">
                    </div>

                    <div id="footer_social_media">
                        <a href="#" class="footer-link" id="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </a>

                        <a href="#" class="footer-link" id="facebook">
                            <i class="fa-brands fa-facebook"></i>
                        </a>

                        <a href="#" class="footer-link" id="whatsapp">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>

                    <ul class="footer-list">
                        <li>
                            <h3>Sobre a empresa</h3>
                        </li>
                        <li>
                            <a target="_self" href="sobre" class="footer-link">Quem somos nós</a>
                        </li>
                        <li>
                            <a target="_self" href="lgpd" class="footer-link">LGPD</a>
                        </li>
                        <li>
                            <a target="_self" href="profissionais" class="footer-link">Profissionais</a>
                        </li>
                    </ul>
    
                    <ul class="footer-list">
                        <li>
                            <h3>Área do paciente</h3>
                        </li>
                        <li>
                            <a target="_self" href="login" class="footer-link">Login</a>
                        </li>
                        <li>
                            <a target="_self" href="register" class="footer-link">Cadastro</a>
                        </li>
                        <li>
                            <a target="_self" href="planos" class="footer-link">Planos e convênios</a>
                        </li>
                    </ul>
                </div>

                <div class="credits">
                    <p>&#169 2023 All rights reserved</p>
                </div>
            </footer>
    </main>
</body>

</html>