<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="imagex/png" href="static\img\fon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/registro.css') }}">
    <title>EzyBooker - Registro</title>

</head>

<body>
    <main>
        <nav>
            <div>
                <img src="static\img\fon.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a target="_self" href="/">Página inicial</a></li>
                    <li><a target="_self" href="agendar">Agendamentos</a></li>
                    <li><a target="_self" href="chatbot">Chatbot</a></li>
                    <li><a target="_self" href="informacao">Área do paciente</a></li>
                    <li><a target="_self" href="login">Login</a></li>
                    <li><a target="_self" class="active" href="register">Registro</a></li>
                </ul>
            </div>
        </nav>

        <section class="content">
            <div class="registro">
                <div class="registro-content">
                    <img src="static\img\fon.png" id="registro">
                    <h2> Necessitamos de algumas informações para realizar seu registro </h2>

                    {% if error_message %}
                        <p style="color: red;">{{ error_message }}</p>
                    {% endif %}

                    <form action="{{ url_for('register') }}" method="post">
                        <h5>Usuario</h5>
                        <input type="text" id="1" name="username" placeholder="Nome do usuário" required>

                        <h5>Nome Completo</h5>
                        <input type="text" id="1" name="name" placeholder="Nome Completo" required>

                        <h5>Senha</h5>
                        <input type="password" id="2" name="password" placeholder="Senha" required>
                    
                        <h5>Telefone</h5>
                        <input type="text" id="4" name="phone" placeholder="Telefone" required>

                        <h5>Documento CPF</h5>
                        <input type="text" id="5" name="document" placeholder="XXX.XXX.XXX" required>

                        <h5>Data de Nascimento</h5>
                        <input type="text" id="6" name="birthdate" placeholder="DD/MM/AAAA" required>

                        <button type="submit" class="button-2">Registrar</button>
                    </form>

                    <h4> Ao criar uma conta, você concorda com nossas diretrizes de comunidade </h4>
                </div>
            </div>
        </section>
        <footer>
            <div class="conteudo-footer">
                <div>
                    <img src="static\img\fon.png" alt="">
                </div>

                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>

                <ul class="footer-list">
                    <li>
                        <h3>Sobre a empresa</h3>
                    </li>
                    <li>
                        <a target="_self" href="sobre" class="footer-link">Quem somos nós</a>
                    </li>
                    <li>
                        <a target="_self" href="lgpd" class="footer-link">LGPD</a>
                    </li>
                    <li>
                        <a target="_self" href="profissionais" class="footer-link">Profissionais</a>
                    </li>
                </ul>

                <ul class="footer-list">
                    <li>
                        <h3>Área do paciente</h3>
                    </li>
                    <li>
                        <a target="_self" href="login" class="footer-link">Login</a>
                    </li>
                    <li>
                        <a target="_self" href="register" class="footer-link">Cadastro</a>
                    </li>
                    <li>
                        <a target="_self" href="planos" class="footer-link">Planos e convênios</a>
                    </li>
                </ul>
            </div>

            <div class="credits">
                <p>&#169 2023 All rights reserved</p>
            </div>
        </footer>
    </main>
</body>
</html>