<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" type="imagex/png" href="static/img/fon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/plans.css') }}">
    <title>EzyBooker - Planos e convênios</title>
</head>

<body>
    <main>
        <nav>
            <div>
                <img src="static\img\fon.png" alt="">
            </div>
            <div>
                <ul>
                    <li><a target="_self" href="/">Página inicial</a></li>
                    <li><a target="_self" href="agendar">Agendamentos</a></li>
                    <li><a target="_self" href="chatbot">Chatbot</a></li>
                    <li><a target="_self" href="informacao">Área do paciente</a></li>
                    <li><a target="_self" href="login">Login</a></li>
                    <li><a target="_self" href="register">Registro</a></li>
                </ul>
            </div>
        </nav>

        <section class="banner">
            <h3>Tabela de Planos e convênios</h3>
        </section>

        <section class="content">

            <table>
                <thead>
                    <tr>
                        <th>Plano/Convênio</th>
                        <th>Detalhes</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Unimed</td>
                        <td>Cobre todos as consultas</td>
                        <td>R$ 100,00</td>
                    </tr>
                    <tr>
                        <td>Bradesco Saúde</td>
                        <td>Cobre todas as consultas e cirúrgias</td>
                        <td>R$ 150,00</td>
                    </tr>
                    <tr>
                        <td>Porto Seguro Saúde</td>
                        <td>Cobre todos os exames laboratoriais</td>
                        <td>R$ 200,00</td>
                    </tr>
                    <tr>
                        <td>Petrobras</td>
                        <td>Inclui assistência hospitalar</td>
                        <td>R$ 300,00</td>
                    </tr>
                    <tr>
                        <td>EEAR</td>
                        <td>Inclui todas as cirúrgias, exames, consultas e reembolsos</td>
                        <td>R$ 500,00</td>
                    </tr>
                </tbody>
                <tr>
                    <td>Vivest</td>
                    <td>Plano de Emergência: Cobertura exclusiva para situações de emergência e pronto-socorro.</td>
                    <td>R$ 600,00</td>
                </tr>
                </tbody>
                <tr>
                    <td>CAASP</td>
                    <td>Plano de Fisioterapia: Tratamento fisioterapêutico para recuperação de lesões e reabilitação.
                    </td>
                    <td>R$ 700,00</td>
                </tr>
                </tbody>
                <tr>
                    <td>USISAÚDE</td>
                    <td>Convênio de Medicina Preventiva: Ênfase em prevenção, com check-ups regulares e orientações de
                        saúde.</td>
                    <td>R$ 800,00</td>
                </tr>
                </tbody>
                <tr>
                    <td>Sompo Seguros</td>
                    <td>Plano Materno-Infantil: Foco em gestantes e crianças, com acompanhamento especializado.</td>
                    <td>R$ 900,00</td>
                </tr>
                </tbody>
            </table>
            <img src="static/img/fon.png" alt="">
        </section>

        <footer>
            <div class="conteudo-footer">
                <div>
                    <img src="static\img\fon.png" alt="">
                </div>

                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>

                <ul class="footer-list">
                    <li>
                        <h3>Sobre a empresa</h3>
                    </li>
                    <li>
                        <a target="_self" href="sobre" class="footer-link">Quem somos nós</a>
                    </li>
                    <li>
                        <a target="_self" href="lgpd" class="footer-link">LGPD</a>
                    </li>
                    <li>
                        <a target="_self" href="profissionais" class="footer-link">Profissionais</a>
                    </li>
                </ul>

                <ul class="footer-list">
                    <li>
                        <h3>Área do paciente</h3>
                    </li>
                    <li>
                        <a target="_self" href="login" class="footer-link">Login</a>
                    </li>
                    <li>
                        <a target="_self" href="register" class="footer-link">Cadastro</a>
                    </li>
                    <li>
                        <a target="_self" href="planos" class="footer-link">Planos e convênios</a>
                    </li>
                </ul>
            </div>

            <div class="credits">
                <p>&#169 2023 All rights reserved</p>
            </div>
        </footer>
    </main>
</body>

</html>